<h2 id="%%filepath%%">%%filepath%%</h2>
<table class="dataTable" align="center">
	<thead>
		<tr>
			<th class="tableHead">
                Line #
            </th>
            <th class="tableHead">
                Error Message
            </th>
			<th class="tableHead" style="width:8em">
                Level
            </th>

		</tr>
	</thead>
	<tbody>
