<div class='footer'>
	<table align="center">
		<tr>
			<td class="copyright">
				<a href="https://github.com/PHPCheckstyle/phpcheckstyle">PHPCheckstyle Home</a>
			</td>
		</tr>
	</table>
</div>


</body>