<!DOCTYPE html>
<html>
	<head>
		<title>PHPCheckstyle Results</title>
		<link href="global.css" rel="stylesheet" type="text/css"/>
	</head>


	<body>

		<div class="banner">
				<a href="https://github.com/PHPCheckstyle/phpcheckstyle" target="_blank">
				<img src="Logo_phpcheckstyle.png"/>
				<span class='title'>&nbsp;PHPCheckstyle</span>
				</a>
		</div>

