<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tie.hackathon.travelguide">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:largeHeap="true"
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/google_travel_logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".EventImage"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme"/>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_picker" />

        <service android:name=".MusicService" />
        <service android:name=".LocationService" />

        <activity
            android:name=".Music"
            android:label="@string/title_activity_music"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectCity"
            android:label="@string/title_activity_select_city"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Checklist"
            android:label="@string/title_activity_select_city"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectModeOfTransport"
            android:label="@string/title_activity_select__mode_of_transport"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CarDirections"
            android:label="@string/title_activity_car_directions"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDay6Qbk3MQD4Z80MH_HnR36TJGTrd2Ddc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".BusList"
            android:label="@string/title_activity_bus_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShoppingCurrentCity"
            android:label="@string/title_activity_shopping_currentcity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrainList"
            android:label="@string/title_activity_train_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hotels"
            android:label="@string/title_activity_hotels"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapRealTimeActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".destinations.funfacts.FunFacts"
            android:label="@string/title_activity_fun_facts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DetectedBeacon" />
        <activity android:name=".ShareContact" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".destinations.description.FinalCityInfo" />
        <activity android:name=".PlacesOnMap" />
        <activity android:name=".MyTrips" />
        <activity android:name=".AddNewTrip" />
        <activity android:name=".MyTripInfo" />
        <activity android:name=".Tweets"/>
    </application>

</manifest>
