language: android
android:
  components:
    - platform-tools
    - tools
    - build-tools-23.0.1
    - android-23
# Support library
    - extra-android-support
    - extra-android-m2repository
    - extra-google-google_play_services
    - extra-google-m2repository
  licenses:
    - '.+'

before_script:
    - chmod +x gradlew
    - cd Android

script:
   - chmod +x ./gradlew
   - ./gradlew assembleDebug assembleRelease
